@*
    **********************************************************************************
    * Copyright (c) 2019 Robin Murray
    **********************************************************************************
    *
    * File: Index.cshtml
    *
    * Description: View for ViewSurveyController
    *
    * Author: Robin Murray
    *
    **********************************************************************************
    *
    * Granting License: The MIT License (MIT)
    *
    *   Permission is hereby granted, free of charge, to any person obtaining a copy
    *   of this software and associated documentation files (the "Software"), to deal
    *   in the Software without restriction, including without limitation the rights
    *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    *   copies of the Software, and to permit persons to whom the Software is
    *   furnished to do so, subject to the following conditions:
    *   The above copyright notice and this permission notice shall be included in
    *   all copies or substantial portions of the Software.
    *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    *   THE SOFTWARE.
    *
    **********************************************************************************
*@

@model  PEClient.Models.ViewSurveyViewModel

@{
    ViewBag.Title = "View Survey";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="vs-container">
    <div class="vs-title">
        @if (Model.Questions.Count > 0)
        {
            <h2>@Model.Questions[0].Name</h2>
        }
        else
        {
            <h2>Survey not defined</h2>
        }
    </div>
    <ul class="vs-actions">
        <li>@Html.ActionLink("Edit survey", "Index", "ViewSurvey", new { id = 1 })</li>
        <li>@Html.ActionLink("Delete survey", "Index", "ViewSurvey")</li>
        <li>@Html.ActionLink("Back to dashboard", "Index", "Dashboard")</li>
    </ul>
    <hr>
    <div id="vs-survey-questions" class="vs-survey-questions">
        @* Generate survey instance cards *@

        @if (Model.Questions.Count > 0)
        {
        <table>
            @foreach (var question in Model.Questions)
            {
            <tr class="vs-tr">
                <td class="vs-td-index">@question.QsIndex)</td>
                <td class="vs-td-question">@question.Text</td>
            </tr>
            }
        </table>
        }
        else
        {
            <div style="margin-left: 20px"><p>None defined.</p></div>
        }
    </div>
</div>
