@*
    **********************************************************************************
    * Copyright (c) 2019 Robin Murray
    **********************************************************************************
    *
    * File: Index.cshtml
    *
    * Description: Create view for Survey controller
    *
    * Author: Robin Murray
    *
    **********************************************************************************
    *
    * Granting License: The MIT License (MIT)
    *
    *   Permission is hereby granted, free of charge, to any person obtaining a copy
    *   of this software and associated documentation files (the "Software"), to deal
    *   in the Software without restriction, including without limitation the rights
    *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    *   copies of the Software, and to permit persons to whom the Software is
    *   furnished to do so, subject to the following conditions:
    *   The above copyright notice and this permission notice shall be included in
    *   all copies or substantial portions of the Software.
    *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    *   THE SOFTWARE.
    *
    **********************************************************************************
*@

@model  PEClient.Models.SurveyCreateViewModel

@{
    ViewBag.Title = "Create Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm sc-container">
    <div class="dsh-title">
        <h2>Create a Survey</h2>
    </div>
    <div class="dsh-content">
        <div class="dsh-content-image">
            <img src="\Content\images\bethany-cirlincione-743f0Dy8bFE-unsplash.jpg" width="100%" />
        </div>

        @* -- Validation Summary -- *@

        @if (IsPost)
        {
            <br><div class="alert alert-danger">@Html.ValidationSummary("Errors")</div>
        }
        <div id="vs-survey-questions" class="vs-survey-questions">

            @using (Html.BeginForm("Create", "Survey", FormMethod.Post, new { @class = "form-launch" }))
            {
                @Html.AntiForgeryToken()

                @* -- Survey Name -- *@

                @Html.LabelFor(m => m.SurveyName, "Survey Name", new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.SurveyName, "", new { @class = "alert-danger validation-msg" })
                @Html.TextBoxFor(m => m.SurveyName, new
                {
                    title = "Enter a descriptive name for the this peer evaluation cycle",
                    @class = "form-control",
                    autofocus = "",
                    required = true
                })
                <br />

                @* -- Survey Questions -- *@

                <label class="control-label">Questions</label><br>
                @Html.ValidationMessageFor(m => m.Questions, "", new { @class = "alert-danger  validation-msg" })

                <div id="survey-questions">

                    @if (Model != null && Model.Questions != null)
                    {
                        int rowId = 0;
                        foreach (string question in Model.Questions)
                        {
                            <div id="row-id-@(rowId)" class="survey-question-container">
                                <div class="survey-question-box">
                                    <textarea id="question-@(rowId)" class="q-textarea form-control" name="Questions[@(rowId)]" required>@(question)</textarea>
                                </div>
                                <div class="survey-delete-box">
                                    <a href="#" data-row-id="@(rowId)" onclick="deleteRow(event)">delete</a>
                                </div>
                            </div>

                            rowId++;
                        }
                    }

                </div>

                <div id="tr-add" style="padding-top: 5px">
                    <button type="button" form-survey id="add-question" class="btn btn-primary" value="add-question" onclick="addBlankRow()">
                        Add Question
                    </button>
                </div>
                <hr />

                @* -- Submit and Cancel buttons -- *@

                @Html.Partial("~/Views/Shared/_SubmitAndCancel.cshtml", new ViewDataDictionary { { "Submit", "Create Survey" } })
            }
        </div><!-- vs-survey-questions -->
    </div><!-- dsh-content -->
</div><!-- container -->

@section scripts{
    <script src="~/Content/js/SurveyCreate.js"></script>
}
