@*
    **********************************************************************************
    * Copyright (c) 2019 Robin Murray
    **********************************************************************************
    *
    * File: Index.cshtml
    *
    * Description: Default Index view for Survey controller
    *
    * Author: Robin Murray
    *
    **********************************************************************************
    *
    * Granting License: The MIT License (MIT)
    *
    *   Permission is hereby granted, free of charge, to any person obtaining a copy
    *   of this software and associated documentation files (the "Software"), to deal
    *   in the Software without restriction, including without limitation the rights
    *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    *   copies of the Software, and to permit persons to whom the Software is
    *   furnished to do so, subject to the following conditions:
    *   The above copyright notice and this permission notice shall be included in
    *   all copies or substantial portions of the Software.
    *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    *   THE SOFTWARE.
    *
    **********************************************************************************
*@

@model  PEClient.Models.SurveyIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var surveyName = Model.Questions.Count > 0 ? @Model.Questions[0].Name : "Untitled";
    var questionIndex = 1;
    ViewBag.Title = surveyName;
}

<div class="container-md dsh-container">
    <div class="dsh-title">
        <h2>@surveyName</h2>
    </div>
    <div class="dsh-content">
        <ul class="dsh-process">
            @if (null != Model.Id)
            {
                <li>@Html.ActionLink("Edit survey", "Edit", "Survey", new { id = Model.Id }, null)</li>
                <li><a href="#staticBackdrop" data-toggle="modal" data-target="#staticBackdrop">Delete survey</a></li>
            }
            <li>@Html.ActionLink("Back to dashboard", "Index", "Dashboard")</li>
        </ul>
        <hr>
        <div id="vs-survey-questions" class="vs-survey-questions">
            @* Generate survey instance cards *@

            @if (Model.Questions.Count > 0)
            {
                <div class="container-fluid">
                    @foreach (var question in Model.Questions)
                    {
                        <div class="row">
                            <div class="col-1 vs-td-index" style="min-width: 2.5rem;">@(questionIndex++))</div>
                            <div class="col-11 vs-td-question">@question.Text</div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div style="margin-left: 20px"><p>None defined.</p></div>
            }
        </div>
        @Html.Partial("~/Views/Shared/_Modal.cshtml",
            new ViewDataDictionary {
                { "title", "Delete " + surveyName},
                { "message", "Are you sure?" },
                { "action-text", "Delete" },
                { "action-controller", "Survey"},
                { "action-action", "Delete"},
                { "action-id", Model.Id},
        })
    </div>
</div>
