@*
    **********************************************************************************
    * Copyright (c) 2019 Robin Murray
    **********************************************************************************
    *
    * File: Index.cshtml
    *
    * Description: View for  LaunchController
    *
    * Author: Robin Murray
    *
    **********************************************************************************
    *
    * Granting License: The MIT License (MIT)
    *
    *   Permission is hereby granted, free of charge, to any person obtaining a copy
    *   of this software and associated documentation files (the "Software"), to deal
    *   in the Software without restriction, including without limitation the rights
    *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    *   copies of the Software, and to permit persons to whom the Software is
    *   furnished to do so, subject to the following conditions:
    *   The above copyright notice and this permission notice shall be included in
    *   all copies or substantial portions of the Software.
    *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    *   THE SOFTWARE.
    *
    **********************************************************************************
*@

@model  PEClient.Models.LaunchViewModel

@{
    ViewBag.Title = "Launch Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <div>
            <img src="~/Content/images/kyle-hinkson-xyXcGADvAwE-unsplash.jpg" width="100%" />
        </div>
        <h2>Launch Survey</h2>
        <br />

        @* -- Validation Summary -- *@

        @if (IsPost)
        {
            <div class="alert alert-danger">@Html.ValidationSummary()</div>
        }

        @using (Html.BeginForm("Index", "Launch", FormMethod.Post, new { @class = "form-launch" }))
        {
            @* -- Launch Name -- *@

            @Html.LabelFor(m => m.LaunchName, "Launch Name", new { @class = "control-label" })
            @Html.TextBoxFor(m => m.LaunchName, new
            {
                @class = "form-control",
                title = "Enter a descriptive name for the this peer evaluation cycle",
                autofocus = "",
                required = true
            })
            @Html.ValidationMessageFor(m => m.LaunchName, "", new { @class = "alert-danger" })
            <br>

            @* -- Templates list -- *@

            @Html.LabelFor(m => m.SelectedTemplateName, "Survey", new { @class = "control-label" })
            @Html.DropDownListFor(m => m.SelectedTemplateName, new SelectList(Model.TemplateNames), "-- select a survey --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SelectedTemplateName, "", new { @class = "alert-danger" })
            <br>

            @* -- Start DateTime -- *@

            @Html.LabelFor(m => m.StartDateTime, "Start date and time", new { @class = "control-label" })
            @Html.TextBoxFor(m => m.StartDateTime, new { id = "start-date-time", @class = "form-control", required = true })
            @Html.ValidationMessageFor(m => m.StartDateTime, "", new { @class = "alert-danger" })
            <br>

            @* -- End DateTime -- *@

            @Html.LabelFor(m => m.EndDateTime, "End date and time", new { @class = "control-label" })
            @Html.TextBoxFor(m => m.EndDateTime, new { id = "end-date-time", @class = "form-control", required = true })
            @Html.ValidationMessageFor(m => m.EndDateTime, "", new { @class = "alert-danger" })
            <hr>

            @* -- Peer Groups list -- *@

            @Html.LabelFor(m => m.SelectedPeerGroups, "Peer Group", new { @class = "control-label" })
            @Html.ListBoxFor(m => m.SelectedPeerGroups, Model.PeerGroups, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SelectedPeerGroups, "", new { @class = "alert-danger" })
            <br>

            @* -- Submit and Cancel buttons -- *@

            @Html.Partial("~/Views/Shared/_SubmitAndCancel.cshtml")
        }

    </div>

@section scripts{

    <script>

        $(document).ready(function () {
            $('#start-date-time').datetimepicker();
            $('#end-date-time').datetimepicker();
        })

        // fill in required fields with some data
        function fakeFillLaunchSurveyFields() {
            $('input').val(" ");
            return true;
        }
    </script>
}
