@model PEClient.Models.ResultsViewModel

@{
    ViewBag.Title = "Survey Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var id = 1;
    var teamId = 0;
}

<div class="container-md dsh-container">
    <div class="dsh-title">
        <h2>Survey Results for @Model.Name</h2>
    </div>
    <div class="dsh-content container-fluid">

        @foreach (PEClient.Models.SurveySummaryTeam team in Model.Teams)
        {
            <div class="sr-team container-fluid">
                <div>
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#launched-@teamId" aria-expanded="false" aria-controls="collapseExample">
                        <h4>@team.Name&nbsp;&raquo;</h4>
                    </button>
                </div><!-- launched surveys button -->
                <br>
                <div id="launched-@teamId" class="collapse container-fluid">

                    @foreach (PEClient.Models.SurveySummaryStudent student in team.Students)
                    {
                        <div id="sr-student-card-@(id)" class="sr-student-card">
                            <div class="row">
                                <div class="col reviewee-content">
                                    <h6><span class="sr-student-name">@(student.Name) (@(student.UserName))</span></h6>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "CommentsAbout")">See comments about @(student.Name)</a></li>
                                        <li><a href="@Url.Action("Index", "SurveyResponses")">Review @student.Name's surveys: @(100 * @student.Complete)% complete</a></li>
                                    </ul>
                                </div>
                                <div id="pie-chart-@(id)" class="col pie-chart" data="[['A',2],['B',3],['N/A',2]]" style="">
                                    <figure class="highcharts-figure">
                                        <div id="container-@(id)"></div>
                                    </figure>
                                </div>
                            </div>
                    </div>
                    id = id + 1;
                    }
                </div>
            </div>
            teamId++;
        }
    </div>
</div>
@section scripts{

    <script>

        $(function () {
            // Set the pie chart data for each chart
            $('.pie-chart').each(function () {
                // Get the chart data from the chart's div data attribute
                pieData = eval($(this).attr('data'));
                // Create the chart using the retrieved data
                createPieChart($(this).attr('id'), pieData);
            });

            // Find the width of the largest content div
            var maxDivWidth = 0;
            $('.reviewee-content').each(function () {
                if ($(this).width() > maxDivWidth) {
                    maxDivWidth = $(this).width();
                }
            });
            // Set all of the content widths to the largest content div width
            $('.reviewee-content').width(maxDivWidth);


        });

    </script>
}
