@*
    **********************************************************************************
    * Copyright (c) 2019 Robin Murray
    **********************************************************************************
    *
    * File: Index.cshtml
    *
    * Description: View for  DashboardController
    *
    * Author: Robin Murray
    *
    **********************************************************************************
    *
    * Granting License: The MIT License (MIT)
    *
    *   Permission is hereby granted, free of charge, to any person obtaining a copy
    *   of this software and associated documentation files (the "Software"), to deal
    *   in the Software without restriction, including without limitation the rights
    *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    *   copies of the Software, and to permit persons to whom the Software is
    *   furnished to do so, subject to the following conditions:
    *   The above copyright notice and this permission notice shall be included in
    *   all copies or substantial portions of the Software.
    *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    *   THE SOFTWARE.
    *
    **********************************************************************************
*@

@model  PEClient.Models.DashboardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper" style="margin-top: 40px">

    <!-------------------------------------------------->

    @if (TempData.SuccessMessage() != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            @TempData.SuccessMessage()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (TempData.ErrorMessage() != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            @TempData.ErrorMessage()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <!-------------------------------------------------->

    <p>It's a <strong>3</strong> step process:</p>
    <ol style="margin-left: 0">
        <li>@Html.ActionLink("Create a peer evaluation survey", "Index", "Template")</li>
        <li>@Html.ActionLink("Create peer groups", "Index", "CreateTeam")</li>
        <li>@Html.ActionLink("Launch the Peer Evaluation", "Index", "Launch")</li>
    </ol>
    <hr>

    <!-------------------------------------------------->

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#templates" aria-expanded="false" aria-controls="collapseExample">
        <h4>Peer Evaluation Templates</h4>
    </button>

    <hr>

    <div id="templates" class="collapse">
        <p>@Html.ActionLink("Create a peer evaluation survey", "Index", "Template")</p>
        <div style="display: flex; flex-wrap: wrap;">

            @* Generate survey instance cards *@

            @if (Model.Templates.Count > 0)
            {
                foreach (var template in Model.Templates)
                {
                    <div class="" style="border: 1px solid black; margin: 5px; padding: 5px; border-radius: 10px; width: 200px">
                        <div class="card" style="">
                            <h4>@(template.Name)</h4>
                            <p>
                                <a href="#0">Edit</a>&nbsp;&nbsp;&nbsp;<a href="#0">Delete</a>
                            </p>
                        </div><!-- card -->
                    </div><!-- col -->
                }
            }
        </div><!-- flex row -->
        <hr>
    </div><!-- collapse -->
    <!-------------------------------------------------->

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#teams" aria-expanded="false" aria-controls="collapseExample">
        <h4>Peer Groups</h4>
    </button>

    <hr>

    <div id="teams" class="collapse">
        <p>@Html.ActionLink("Create a new peer group", "Index", "CreateTeam")</p>
        <div style="display: flex; flex-wrap: wrap;">

            @* Generate survey instance cards *@

            @if (Model.Teams.Count > 0)
            {
                foreach (var team in Model.Teams)
                {
                    <div class="" style="border: 1px solid black; margin: 5px; padding: 5px; border-radius: 10px; width: 200px">
                        <div class="card" style="">
                            <h4>@(team.Name)</h4>
                            <p>
                                <a href="#0">Edit</a>&nbsp;&nbsp;&nbsp;<a href="#0">Delete</a>
                            </p>
                        </div><!-- card -->
                    </div><!-- col -->
                }
            }
        </div><!-- flex row -->
        <hr>
    </div><!-- collapse -->
    <!-------------------------------------------------->

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#launched" aria-expanded="false" aria-controls="collapseExample">
        <h4>Launched Peer Evaluations</h4>
    </button>

    <hr>

    <div id="launched" class="collapse">

        <p>@Html.ActionLink("Launch a peer evaluation", "Index", "Launch")</p>

        <div style="display: flex; flex-wrap: wrap;">

            @* Generate survey instance cards *@

            @if (Model.SurveyInstances.Count > 0)
            {
                foreach (var surveyInstance in Model.SurveyInstances)
                {
                    <div class="" style="border: 1px solid black; margin: 5px; padding: 5px; border-radius: 10px; width: 200px">
                        <div class="card" style="">
                            <h4>@(surveyInstance.Name)</h4>
                            <p style="line-height: 1.5em;">
                                <strong>Start Date: </strong><br><span>@(surveyInstance.Start)</span><br />
                                <strong>End Date: </strong><br><span>@(surveyInstance.End)</span><br />
                                <strong>Status: </strong><br><span>@(surveyInstance.Status)</span><br />
                            </p>
                            <p>
                                <hr />
                                @Html.ActionLink("View Results", "Index", "SurveySummary")<br />
                                <a href="#0">Release Results</a>
                            </p>
                        </div><!-- card -->
                    </div><!-- col -->
                }
            }
        </div><!-- flex row -->
        <hr>
    </div><!-- collapse -->
    <!-------------------------------------------------->

</div><!-- Wrapper -->

<script>
    function areYouSure() {
        return confirm('Are you sure?');
    }
</script>
