@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper" style="margin-top: 40px">
    <p>It's a <strong>3</strong> step process:</p>
    <ol style="margin-left: 0">
        <li><a href="#0">Create a peer evaluation template</a></li>
        <li><a href="#0">Create peer groups</a></li>
        <li><a href="#0">Launch the survey</a></li>
    </ol>
    <hr>

    <!-------------------------------------------------->

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#templates" aria-expanded="false" aria-controls="collapseExample">
        <h4>Peer Evaluation Templates</h4>
    </button>

    <hr>

    <div id="templates" class="collapse">
        <p><a href="#0">Create a new <strong>Peer Evaluation Template</strong>...</a></p>
        <div style="display: flex; flex-wrap: wrap;">

            @* Generate survey instance cards *@

            @if (ViewBag.evaluationTemplates.Length > 0)
            {
                foreach (var template in ViewBag.evaluationTemplates)
                {
                    <div class="" style="border: 1px solid black; margin: 5px; padding: 5px; border-radius: 10px; width: 200px">
                        <div class="card" style="">
                            <h4>@(template.Name)</h4>
                            <p>
                                <a href="#0">Edit</a>&nbsp;&nbsp;&nbsp;<a href="#0">Delete</a>
                            </p>
                        </div><!-- card -->
                    </div><!-- col -->
                }
            }
        </div><!-- flex row -->
        <hr>
    </div><!-- collapse -->
    <!-------------------------------------------------->

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#teams" aria-expanded="false" aria-controls="collapseExample">
        <h4>Peer Groups</h4>
    </button>

    <hr>

    <div id="teams" class="collapse">
        <p><a href="#0">Create new <strong>Peer Groups</strong>...</a></p>
        <div style="display: flex; flex-wrap: wrap;">

            @* Generate survey instance cards *@

            @if (ViewBag.teams.Length > 0)
            {
                foreach (var team in ViewBag.teams)
                {
                    <div class="" style="border: 1px solid black; margin: 5px; padding: 5px; border-radius: 10px; width: 200px">
                        <div class="card" style="">
                            <h4>@(team.Name)</h4>
                            <p>
                                <a href="#0">Edit</a>&nbsp;&nbsp;&nbsp;<a href="#0">Delete</a>
                            </p>
                        </div><!-- card -->
                    </div><!-- col -->
                }
            }
        </div><!-- flex row -->
        <hr>
    </div><!-- collapse -->
    <!-------------------------------------------------->

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#launched" aria-expanded="false" aria-controls="collapseExample">
        <h4>Launched Peer Evaluations</h4>
    </button>

    <hr>

    <div id="launched" class="collapse">
        <p><a href="#0">Launch a new <strong>Peer Evaluation</strong>...</a></p>
        <div style="display: flex; flex-wrap: wrap;">

            @* Generate survey instance cards *@

            @if (ViewBag.SurveyInstances.Length > 0)
            {
                foreach (var surveyInstance in ViewBag.SurveyInstances)
                {
                    <div class="" style="border: 1px solid black; margin: 5px; padding: 5px; border-radius: 10px; width: 200px">
                        <div class="card" style="">
                            <h4>@(surveyInstance.Name)</h4>
                            <p style="line-height: 1.5em;">
                                <strong>Start Date: </strong><br><span>@(surveyInstance.Start)</span><br />
                                <strong>End Date: </strong><br><span>@(surveyInstance.End)</span><br />
                                <strong>Status: </strong><br><span>@(surveyInstance.Status)</span><br />
                            </p>
                            <p>
                                <hr />
                                <a href="#0">View Results</a><br />
                                <a href="#0">Release Results</a>
                            </p>
                        </div><!-- card -->
                    </div><!-- col -->
                }
            }
        </div><!-- flex row -->
        <hr>
    </div><!-- collapse -->
    <!-------------------------------------------------->

</div><!-- Wrapper -->

</div>
<script>
    function areYouSure() {
        return confirm('Are you sure?');
    }
</script>
