<!--nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Sidekick", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div id="navbarSupportedContent" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Instructor")))
                {
                    <li class="nav-item">@Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "nav-link" })</li>
                }
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Student")))
                {
                    <li class="nav-item">@Html.ActionLink("Peer Surveys", "Index", "PeerSurveys", null, new { @class = "nav-link" })</li>
                }
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Roles", "index", "Role", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

