
@{
    ViewBag.Title = "CreateTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Create Peer Evaluation Template</h2>
    <br>

    <form id="form-survey" action="@Request.Url.PathAndQuery" method="post" onsubmit="enumerateQuestions();">

        <label for="template_name">Template Name:</label>
        <input id="template_name"
               name="template_name"
               type="text"
               value="@ViewBag.TemplateName"
               required
               class="form-control"
               placeholder="Enter name of template" />
        <hr />
        <!-- input id="survey-id" name="survey-id" type="hidden" value="" -->

        <p><strong>Questions:</strong></p>
        <table>

            @if (ViewBag.TemplateQuestions != null)
            {
                int rowId = 0;
                foreach (string question in ViewBag.TemplateQuestions)
                {
                    <tr id="row-id-@(rowId)" class="question-row">
                        <td>
                            <textarea class="question" cols="50" style="max-width: 100%;" name="template_questions[@rowId]" required>@(question)</textarea>
                        </td>
                        <td style="padding-left: 20px">
                            <a href="#" data-row-id="@rowId" onclick="deleteRow(event)">delete</a>
                        </td>
                    </tr>

                    rowId++;
                }

            }

        </table>

        <div id="tr-add" style="padding-top: 5px">
            <button type="button" form-survey id="add-question" class="btn btn-primary" value="add-question" onclick="addBlankRow()">
                <!-- <span style="font-size: 1.5em;">Add Question</span> -->
                Add Question
            </button>
        </div>
        <hr />

        <!-- Alert Message -->
        @if (IsPost)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        <!-- Create Template Button -->
        <button id="create-survey" class="btn btn-primary" type="submit">
            <!-- <span style="font-size: 1.5em">Save & Exit</span> -->
            Save Template
        </button>

        &nbsp;|&nbsp;

        <!-- Cancel Button -->
        <a id="btn-cancel" href="@Url.Action("Index","Dashboard")" class="btn btn-danger">
            Cancel
        </a>

    </form>
    <!-- button class="btn btn-primary" type="button" onclick="enumerateQuestions();">Change Names</!--button -->
</div>
<script>

    var rowId = -1;

    function addBlankRow() {
        $('#tr-add').before(getNextRowId());
    }

    function getNextRowId() {

        if (rowId == -1) {
            rowId = $('.question-row').length - 1;
        }

        rowId++;
        var tr = '<tr id=row-id-' + rowId + ' class="question-row">';
        tr += '<td><textarea class="question" cols="50" style="max-width: 100%;" name="template_questions[' + rowId + ']" required></textarea></td>';
        tr += '<td style="padding-left: 20px"><a href="#" data-row-id="' + rowId + '" onclick="deleteRow(event)">delete</a></td></tr>';
        return tr;
    }

    // Deletes a row from the table and prevents the anchor from firing.
    function deleteRow(event) {
        var rowToDelete = "#row-id-" + event.target.getAttribute('data-row-id');
        $(rowToDelete).remove();
        event.preventDefault();
    }

    // fill in required fields with some data
    function fakeFillFields() {
        $('textarea').val(" ");
        $('#template_name').val(" ");
        return true;
    }

    // Enumerates the question input elements so they will be transmitted
    // as an array that is zero indexed and not sparse
    function enumerateQuestions() {

        var qid = 0;

        $('.question').each(function () {
            $(this).attr("name", "template_questions[" + qid + "]");
            ++qid;
        });
    }

</script>
