@model PEClient.Models.LaunchedSurveyCommentsByViewModel

@{
    var firstComment = (from c in Model.CommentsByReviewer
                       select c).ToList().FirstOrDefault();

    ViewBag.Title = "Responses from " + firstComment.ReviewerName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-md dsh-container">
    <div class="dsh-title">
        <h1>@(firstComment.SurveyName)</h1>
        <h2>@(firstComment.TeamName) - Comments by @(firstComment.ReviewerName)</h2>
    </div>
    <div class="dsh-content container-fluid">

        @{
            string active = "active";
            string show = "show";
            int peerIndex = 0;

            <ul class="nav nav-tabs">

                @{
                    active = "active";

                    var RevieweeTabs = (from c in Model.CommentsByReviewer
                                        select new { c.RevieweeId, c.RevieweeName }).Distinct().ToList();

                    foreach (var revieweeTab in RevieweeTabs)
                    {
                        <li class="nav-item">
                            <a class="nav-link @active" href="#peer-@(revieweeTab.RevieweeId)" data-toggle="tab">@revieweeTab.RevieweeName</a>
                        </li>
                        active = "";
                    }
                }
            </ul>


        }

        <div class="tab-content">
            @{
                peerIndex = 0;
                active = "active";
                int toneIndex = 0;

                var RevieweeQuestionAnswers = from c in Model.CommentsByReviewer
                                              group c by c.RevieweeId;

                foreach (var questionAnswers in RevieweeQuestionAnswers)
                {
                    <div id="peer-@(questionAnswers.Key)" class="sur-survey tab-pane fade @active @show">

                        @foreach (var qa in questionAnswers)
                        {
                            {
                                <p><strong>@(qa.Question)</strong></p>
                                <p><strong>Grade: <span class="badge bg-warning">&nbsp;@(qa.Grade)&nbsp;</span></strong></p>
                                <div>
                                    <p class="cb-peer-answer">@(qa.Answer)</p>
                                </div>

                                @Html.Partial("~/Views/Shared/_ToneAnalysis.cshtml", null, new ViewDataDictionary { { "ToneIndex", toneIndex.ToString() } });

                                <div style="margin: 30px"></div>
                                <hr />
                                toneIndex++;
                            }
                        }
                    </div>
                    active = "";
                    show = "";
                    peerIndex++;
                }
            }

        </div>
    </div>
</div>